body {
    margin: 0;
    padding: 0;
}

.slider-container {
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    touch-action: pan-y;
    font-family: 'Inter', sans-serif;
}

.slider-track {
    display: flex;
    height: 100%;
    transition: transform 0.5s ease-in-out;
}

.slide {
    min-width: 100%;
    height: 100%;
}

.slide-content {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    box-sizing: border-box;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.slide-content::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom,
    white 22%,
    rgba(255, 255, 255, 0) 24%,
    rgba(255, 255, 255, 0) 76%,
    white 78%);
    z-index: 1;
}

.slide-header,
.slide-middle,
.slide-description,
.slide-subtitle,
.bottom-button {
    position: relative;
    z-index: 2;
    pointer-events: none;
}

.slide-header {
    font-size: 3.5rem;
    font-weight: 800;
    margin-top: 3.5rem;
    margin-bottom: 0;
}

.slide-subtitle {
    font-size: 1rem;
    color: #000000;
    margin: 0;
    white-space: pre-line;
}

.slide-middle {
    color: rgb(0, 0, 0);
    font-size: 2.3rem;
    font-weight: 700;
    margin-bottom: 0;
}

.slide-description {
    font-size: 0.9rem;
    line-height: 1.2;
    white-space: pre-line;

    padding: 0;
    margin-bottom: 5rem;
}

.slider-controls {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    /* 16px */
    box-sizing: border-box;
    pointer-events: none;
}

.bottom-ui {
    z-index: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 2.5rem 1.5rem;
    box-sizing: border-box;
    text-align: center;
    color: #111827;
    pointer-events: none;
}

.pagination-dots {
    display: flex;
    justify-content: center;
    margin-top: 1.5rem;
    /* 24px */
}

.bottom-button {
    background: none;
    border: 0;
    
    pointer-events: auto;
    
    color: #374151;
    position: absolute;
    left: 1.5rem;
    bottom: 1.5rem;
}
.bottom-button:hover {
    cursor: pointer;
}

.dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #d1d5db;
    margin: 0 6px;
    transition: background-color 0.3s ease;
}

.dot.active {
    background-color: #374151;
}