.player-container {
    width: 100%;
    height: 70vh;
    max-height: 800px;
    display: flex;
    justify-content: center;
}

.instructions {
    color: #ffffff;
    text-align: center;
    margin-top: 1rem;
}

.shorts-player {
    position: relative;
    max-width: 24rem;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #000;
    border-radius: 0.5rem;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
    cursor: grab;
}

.shorts-player:active {
    cursor: grabbing;
}

.video-track {
    position: relative;
    width: 100%;
    height: 100%;
    transition-property: transform;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms;
    padding: 0;
    margin: 0;
}

.video-slide {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
}

.video {
    width: 100%;
    padding: 0;
    margin: 0;
}

.info-overlay {
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    right: 1rem;
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 0.25rem 0.5rem;
    border-radius: 0.25rem;
    font-size: 0.875rem;
}

.icon-overlay {
    position: absolute;
    top: 1rem;
    right: 1rem;
    color: #ffffff;
}